name: Deploy
on: 
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout do repositório
        uses: actions/checkout@v2

      - name: Configurar Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18'  # Substitua pela versão do Node.js que você está usando

      - name: Instalar dependências e construir o backend
        run: |
          cd backend
          npm install
          npm run build

      - name: Instalar dependências e construir o frontend
        run: |
          cd frontend
          npm install
          npm run build

      - name: Deploy para a Hostinger
        uses: easingthemes/ssh-deploy@main
        env: 
            SSH_PRIVATE_KEY: ${{ secrets.SSH_KEY }}
            ARGS: "-rltgoDzvO --delete"
            SOURCE: "."
            REMOTE_HOST: ${{ secrets.HOST }}
            REMOTE_USER: ${{ secrets.USERNAME }}
            REMOTE_PASSWORD: ${{ secrets.PASSWORD }}
            REMOTE_PORT: ${{ secrets.PORT }}
            TARGET: ./lessons_app

      - name: Configurar PATH para pm2
        run: echo "/root/.nvm/versions/node/v20.16.0/bin" >> $GITHUB_PATH

      - name: Restartar PM2
        run: |
          /root/.nvm/versions/node/v20.16.0/bin/pm2 install pm2-logrotate || true
          /root/.nvm/versions/node/v20.16.0/bin/pm2 restart backend || /root/.nvm/versions/node/v20.16.0/bin/pm2 start /root/lessons_app/backend/dist/src/server.js --name backend
          /root/.nvm/versions/node/v20.16.0/bin/pm2 restart frontend || /root/.nvm/versions/node/v20.16.0/bin/pm2 start /root/lessons_app/frontend/dist/index.html --name frontend
          /root/.nvm/versions/node/v20.16.0/bin/pm2 save
